body {
    background-color: rgb(250, 250, 250);
}

.container {
    border: 1px solid brown;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
    background-color: #AC2832;
}

.image {
    width: 200px;
}

.cards {
    border: 1px solid purple;
    padding-left: 10PX;
    padding-right: 10px;
}

.chart {
    border: 1px solid black;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .image {
        width: 50%;
        margin: 10px 0 15px 0;
    }
}