body {
    background-color: rgb(250, 250, 250);
}

.container {
    border: 1px solid brown;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    background-color: #DFD297;
}

.cards {
    border: 1px solid purple;
    padding-left: 10PX;
    padding-right: 10px;
}

.chart {
    border: 1px solid black;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
}